.pending-booking .box-body {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.pending-booking p {
  margin-bottom: 0px;
  word-break: break-all;
  line-height: 20px;
}
.pending-booking p span {
  font-size: 14px;
  color: grey;
}
.package-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
}

.package-name {
  display: block;
  margin-bottom: 5px;
}
